name: 'dev_build'
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        required: true
        type: string
      is_prerelease:
        description: 'is Pre-release?'
        required: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch: ['1.7.2', '1.7.4', '1.7.10', '1.8.0', '1.8.3-15w14a', '1.8.9', '1.9.4', '1.10.2', '1.11.2', '1.12.2', '1.13.2', '1.14.4', '1.15.2', '1.16.0-20w14infinite', '1.16.1', '1.16.5', '1.17.0', '1.17.1', '1.18.2', '1.18.2-22w13oneblockatatime', '1.19.2']
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'


      - name: Checkout ${{ matrix.branch }}
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ matrix.branch }}
      - name: Make gradlew executable - ${{ matrix.branch }}
        run: chmod +x ./gradlew
      - name: Build artifacts - ${{ matrix.branch }}
        run: ./gradlew build

      - name: Read value from Properties-file
        id: read_property
        uses: christian-draeger/read-properties@1.1.0
        with:
          path: './gradle.properties'
          properties: |
            'mcversion minecraft_version'


      - uses: actions/upload-artifact@v3
        with:
          name: Package
          path: build/libs/*.jar


      - name: Upload artifacts to Modrinth and Curseforge
        if: ${{ inputs.is_prerelease == false }}
        uses: Kir-Antipov/mc-publish@v3.2
        with:
          modrinth-id: jnkd7LkJ
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-featured: true
          modrinth-unfeature-mode: subset

          curseforge-id: 538881
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: build/libs/!(*-@(dev|sources|all)).jar

          name: ${{ inputs.release_version }} (for ${{ steps.read_property.outputs.mcversion }})
          changelog: Check changelogs in https://github.com/RedLime/SpeedRunIGT/releases/tag/${{ inputs.release_version }}
          game-versions: ${{ steps.read_property.outputs.mcversion }}
          version-resolver: exact
          version-type: release
          loaders: |
            fabric
            quilt
  publish:
    runs-on: ubuntu-latest
    needs: build
    if: always() && (needs.build.result == 'success')
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - uses: actions/download-artifact@v3
        id: download
        with:
          path: build/results
      - name: Publish release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          automatic_release_tag: '${{ inputs.release_version }}'
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          prerelease: ${{ inputs.is_prerelease }}
          title: ${{ inputs.release_version }}
          files: ${{steps.download.outputs.download-path}}
